target
.classpath
.project
.settings
global-groovy.log
soapui-errors.log
soapui.log
.vagrant
.idea
*.iml
dockerlogs
.DS_Store
*.FDC
.factorypath
acc-lifecycle-integration/logssrv/
acc-lifecycle-ws/logssrv/app.log.*
acc-lifecycle-service/logssrv/
.java-version
.vscode/settings.json
*.log
**/dependencies/*.gz
rc_versions.json
*.log.gz
acc-lifecycle-ws/logssrv/app.log
acc-lifecycle-ws/logssrv/trace.log
/acc-lifecycle-ws/logssrv/
/eom-db-dist/
/logs
/logssrv
